body {
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
@media (max-width: 480px) {
    .img1 {
        display: none;
    }
    .img2 {
        display: block;
    }
    /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media (min-width: 481px) {
    .img2 {
        display: none;
    }
}